[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystan = "<3.0.0"
numpy = "*"
pymc3 = "*"
pyaml = "*"
pandas = "*"
bayesbench = {path = "./bayesbench", editable = true}
bayesbench_stan = {path = "./bayesbench_stan", editable = true}

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"
ipdb = "*"
ipython = "*"
arviz = "*"
jupyter = "*"
importmagic = "*"
epc = "*"
autoflake = "*"
isort = "*"


[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
